@use 'theme/sass' as *;

.body {
    font-size: scaleValue(16px, 18px, rem);
    line-height: scaleValue(20px, 22px, rem);
}
.body1 {
    font-size: scaleValue(16px, 16px, rem);
    line-height: scaleValue(20px, 20px, rem);
}
