

:root {
    // ========== Color ==========
    // Text
    --clr_text_primary: #ffffff;
    --clr_text_secondary: #000;

    --clr_text_neutral_extremeLight: #ffffff;
    --clr_text_neutral_extraLight: #ffffff;
    --clr_text_neutral_light: #c5d1e3;
    --clr_text_neutral: #8b98ad;
    --clr_text_neutral_dark: #2a3950;
    --clr_text_neutral_extraDark: #000000;
    --clr_text_neutral_extremeDark: #000000;


    --clr_text_info: #4d89ff;


    --clr_text_success: #8fc23a;



    --clr_text_warn: #ffc700;


 
    --clr_text_error: #ff6752;


    

    // Background
    --clr_bg_primary: #ffffff;
    --clr_bg_secondary: #000000;

    --clr_bg_neutral_dark: #2a3950;


    // ========== Gradient ==========

    // ========== Border ==========
    --clr_border_primary: #ffffff;
    --clr_border_secondary: #000000;
   

    // ========== Overlay ==========
   

    // ========== Transitions ==========
 

    // ========== Font Family ==========
   

    --font_primary: 'Poppins', sans-serif;


    // ========== Font Weight ==========
    --fw_regular: 400;
    --fw_medium: 500;
    --fw_semiBold: 600;
    --fw_bold: 700;
}
